/* Theme */

main {
	/* background: #303F9F; */
	background-image: linear-gradient(to right bottom, #3dd87b, #0e7eee);
  /* to prevent the body runover */
  background-attachment: fixed;
  color: rgb(15, 15, 15);
  /* default font for the site over writting bootstraps font */
  font-family: cursive; 
}

.icons-social a {
	color: rgb(15, 15, 15);
}

.icons-social a svg path{
	fill: rgb(15, 15, 15);
}

.icons-social a:hover{
  color: rgb(75, 74, 74);
}