/* Theme */

main {
	/* background: #303F9F; */
	background-image: linear-gradient(to right bottom, #69f09f, #3794f1);
  /* to prevent the body runover */
  background-attachment: fixed;
  color: rgb(15, 15, 15);
  /* default font for the site over writting bootstraps font */
  font-family: cursive; 
}

.icons-social a {
	color: rgb(15, 15, 15);
}

.icons-social a svg path{
	fill: rgb(15, 15, 15);
}